*,
*:after,
*::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
@font-face {
    font-family: 'ecoicons';
    src:url('../fonts/ecoicons/icomoon.eot?-am07eb');
    src:url('../fonts/ecoicons/icomoon.eot?#iefix-am07eb') format('embedded-opentype'),
        url('../fonts/ecoicons/icomoon.woff?-am07eb') format('woff'),
        url('../fonts/ecoicons/icomoon.ttf?-am07eb') format('truetype'),
        url('../fonts/ecoicons/icomoon.svg?-am07eb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* if an icon anchor has a span, hide the span */

.gn-icon span {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden;
}
.gn-icon::before {
        display: inline-block;
        width: 40px;
        text-align: center;
        text-transform: none;
        font-weight: normal;
        font-style: normal;
        font-variant: normal;
        font-family: 'ecoicons';
        line-height: 1;
        speak: none;
        -webkit-font-smoothing: antialiased;
}
.gn-icon-circle::before{
    content:"\e602";
    cursor: pointer;
}
.gn-icon-polygon::before{
    content: "\e600";
    cursor: pointer;
}
.gn-icon-rectangle::before{
    content:"\e601";
    cursor: pointer;
}
.gn-icon-add::before{
    content: "\e002";
    cursor: pointer;
}
.gn-icon-back::before{
    content: "\e006";
    cursor: pointer;
}
.gn-icon-save::before{
    content: "\e00d";
    cursor: pointer;
}
.gn-icon-download::before{
    content: "\e606";
    cursor: pointer;
}
.gn-icon-update::before{
    content: "\e004";
    cursor: pointer;
}
.gn-icon-cancel::before{
    content:"\e009";
    cursor: pointer;
}
.delete::before{
    content: "\e008";
    cursor: pointer;
}
.primaryTabsContent {
    position: absolute;
    min-height: 70vh;
    width: 100%;
}
div.tabs{
    width:100%;
    height: 100%;
}
div.tabs > div:not(:target)  {
    position: absolute;
}
div.tabs >div{
    display: inline;

}
div.tabs > div:target{
    position: absolute;
    z-index: 2;
}
div.tabs > div{
    z-index: 0;
    background: white;
    width:100%;
    height: 100%;
    overflow-y: scroll;
}
#googleMap{
    width: 100%;
    height: 100%;
}
.sidebar{
    position: fixed;
    right: 0;
    top: 265px;
    left: 80%;
    width: 300px;
    background: whitesmoke;
    bottom: 70px;
    -moz-box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    padding: 2px;

}
.open{
    -webkit-transform: translateX(400px);
    -moz-transform: translateX(400px);
    transform: translateX(400px);
    -webkit-transition: -webkit-transform 0.3s, width 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s;
    transition: transform 0.3s, width 0.3s;
}
.head-sidebar{
    background: rgb(73,155,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
    color: white;
    padding: 2px;
    border-radius: 4px;
    line-height: 30px;
    width: 100%;
    display: inline-block;
}
.head-sidebar div{
    display: inline-block;
    border: 1px solid #207ce5;
    border-radius: 4px;
}
.switch{
    display: inline;
    padding-left: 4px;
    border: 1px solid #207ce5;
    border-radius: 4px;
    margin-left: 97%;
    cursor: pointer;
    top: 268px;
    position: fixed;
    color:white;
    font-weight: bold;
}
.switch:hover{
    background: rgb(73,155,234); /* Old browsers */
}
td {

    /* css-3 */
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 

}
table { 
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
a {
    color: white;
    text-decoration: none;
    float: left;
    border: 1px solid #207ce5;
    border-radius: 4px;
    background: rgb(73,155,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
    
}
a:hover{
    color: black;
    background: rgb(145, 195, 242);
}
.gf{
    list-style-type:none;
    margin: 0px;
    padding: 0px;

}
.gf > li{
    padding: 10px;
}
.gf > li  label{
    margin-left: 0px;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 0.875em;
    color: rgb(73,155,234);
    font-weight:bold;
}
.gf > li >a{
    padding: 0.375em;
    margin-left: 1.0em;
}
.address{
    margin-left: 0px;
    width: 170px;
    height: 38px;
}
.fID{
    display: none;
}
.gf >li >input {
    width: 60%;
} 